.list_game {
    list-style: none;
}

.nav-item {
    color: #A593E0;
}

.list-game {
    text-decoration: underline
}

.list-white a {
    color: white;
}

.text-sideorange,
.list-sideorange,
.list-sideorange a {
    color: ivory;
}

.list-black a {
    color: black;
}

.list-red a {
    color: red;
}

.list-grey a {
    color: #494f54;
}

.text-sidegold,
.list-sidegold,
.list-sidegold a {
    color: #545245 !important;
}

.list-game li a {
    color: white;
}

.list-game a:hover {
    color: blue
}

.bg-gold,
a.bg-gold:hover,
a.bg-gold:focus,
button.bg-gold:hover,
button.bg-gold:focus {
    background-color: gold !important;
}

.bg-orange2,
a.bg-orange2:hover,
a.bg-orange2:focus,
button.bg-orange2:hover,
button.bg-orange2:focus {
    background-color: #ffb347 !important;
}

.bg-pupple,
a.bg-pupple:hover,
a.bg-pupple:focus,
button.bg-pupple:hover,
button.bg-pupple:focus {
    background-color: #A593E0 !important;
}

.bg-Ocher,
a.bg-Ocher:hover,
a.bg-Ocher:focus,
button.bg-Ocher:hover,
button.bg-Ocher:focus {
    background-color: #c68a12c4 !important;
    /*
    background-color: #c68a12 !important;*/
}

.bg-blue2,
a.bg-blue2:hover,
a.bg-blue2:focus,
button.bg-blue2:hover,
button.bg-blue2:focus {
    background-color: #779ecb !important;
}

.bg-blue3,
a.bg-blue3:hover,
a.bg-blue3:focus,
button.bg-blue3:hover,
button.bg-blue3:focus {
    background-color: #89cde2a1 !important;
    /* background-color: #d4ebf2 !important;*/
}

.bg-green2,
a.bg-green2:hover,
a.bg-green2:focus,
button.bg-green2:hover,
button.bg-green2:focus {
    background-color: #77dd77 !important;
}

.text-sideOcher,
.list-sideOcher,
.list-sideOcher a {
    color: white;
}

.newcolor {
    color: #E84898 !important;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active,
.show>.btn.dropdown-toggle,
.btn.disabled,
.btn:disabled,
.btn:hover,
.btn {
    color: #fff;
    background-color: #A593E0;
    border-color: #9D83F1;
}

.btn:focus,
.btn.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active:focus,
.show>.btn.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.navbar-nav .nav-item.active .nav-link {
    color: #A593E0;
}

.navbar-brand {
    color: #A593E0 !important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #A593E0;
}